
{% block body %}
    <div class="container" id="catalogueDiv">
                        <div class="span9">
                            <h1>Catalogue d'Aménagements d'intérieur</h1>
                        </div>
                        <div class="span1">
                        <a class="btn " href="#">Placards</a>
                        <a class="btn" id="btnDevis" href="#">Dressing</a>
                        <a class="btn" href="#">Cuisine</a>
                        </div>
            <div class="span9">
                <ul class="thumbnails">
                    {% for produits in produits %}
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="{{ produits.image }}" alt="Produit" width="150" height="150">
                                <div class="caption">
                                    <h4>{{ produits.nom }}</h4>
                                    <p>{{ produits.prix }}</p>
                                    <a  class="btn " href="{{ path('infoFenetres') }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="#">Ajouter au Devis</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>

            </div>

    </div>



{% endblock %}
